{% extends 'blog/base.html' %}

{% load static %}

{% block main_content %}

                <p> Nosotros somos Dani, Agus e Isra</p>
                <p> Aqui va lo de Dani</p>
                <p> Aqui va lo de Agus</p>
                <p> Soy Israel, tengo 43 años y trabajo como Gerente de TI en <a href="http://mx.snf.com">SNF México</a> desde hace 12 años.</p>
                <p> Esta web la desarrollamos en base a los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse.</a>, cumpliendo así con el proyecto final del curso</p>
                <p> Utilizamos el framework de <a href="https://www.djangoproject.com/">django</a> y una plantilla HTML5</p>
            

{% endblock main_content %}