<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{% static 'blog/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'blog/css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/camera.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/touchTouch.css' %}">

    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'blog/js/jquery.equalheights.js' %}"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{% static 'blog/js/jquery.mobile.customized.min.js' %}"></script>
    <script src="{% static 'blog/js/wow/wow.js' %}"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <script src="{% static 'blog/js/camera.js' %}"></script>
    <script src="{% static 'blog/js/touchTouch.js' %}"></script>
    <script src="{% static 'blog/js/isotope.min.js' %}"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div id="ie6-alert" style="width: 100%; text-align:center; background: #232323;">
        <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0"
             usemap="#Map" longdesc="http://die6.frontcube.com"/>
        <map name="Map" id="Map">
            <area shape="rect" coords="496,201,604,329"
                  href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank"
                  alt="Download Interent Explorer"/>
            <area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank"
                  alt="Download Apple Safari"/>
            <area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank"
                  alt="Download Opera"/>
            <area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank"
                  alt="Download Firefox"/>
            <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank"
                  alt="Download Google Chrome"/>
        </map>
    </div>

    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>

<body>

    <div class="page">
        <!--========================================================
                                  HEADER
        =========================================================-->
        <header id="header" class="header" >
            <div class="container" >
                <div class="row">
                    <div class="grid_12">
                        <ul class="inline-list">
                            <li><a href="{% url 'login' %}">Ingresar</a></li>
                            <li><a href="{% url 'register' %}">Crear una cuenta</a></li>
                        </ul>

                       

                        <ul class="socials">
                            <li><a href="#" class="fa-facebook">Facebook</a></li>
                            <li><a href="#" class="fa-google-plus">Google Plus</a></li>
                            <li><a href="#" class="fa-twitter">Twitter</a></li>
                            <li><a href="#" class="fa-rss">RSS</a></li>
                        </ul>
                    </div>
                </div>
                <hr />
            </div>
            <div id="stuck_container" class="stuck_container">
                <div class="container">
                    <div class="row">
                        <div class="grid_12">
                            <div class="brand">
                                <h1>
                                    <a href="./">Recetas de Cocina</a>
                                </h1>
                            </div>

                            {% include 'blog/aditionals/navbar.html' %}
                        </div>
                        <!-- Page Header-->
        
        

                    </div>
                </div>
            </div>
        </header>
        <!--========================================================
                                  CONTENT
        =========================================================-->
        <section id="content" class="content">

            <div style="background-image: url({% static 'blog/images/index_slide01.jpg' %});">
                <img src="{% static 'blog/images/index_slide01.jpg' %}" style="visibility: hidden;" />
               </div>
            
            <div class="container well__ins1" >
                
                <div id="isotope" class="isotope product-block row wow fadeIn">
                    <div class="item grid_6 product product__skin1 product-dinner-party product-snacks product-quick-and-easy product-international">
                        
                        <div class="product_cnt">
                            <h3 class="product_title">
                                <!-- Main Content-->
        
                                {% if errors %}
                                    {% for error in errors %}
                                        {{error}}
                                    {% endfor %}
                                {% endif %}

                                {% block main_content %} 
                                
                                {% endblock main_content %}

                            </h3>
                            <div class="product_description">
                                
                            </div>                             
                        </div>
                    </div>
                    
                </div>

                

                
            </div>

            <hr class="container" />

        </section>

        <!--========================================================
                                  FOOTER
        =========================================================-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="grid_12 wow fadeInUp">
                        Recetas de Cocina © <span id="copyright-year"></span> Israel Jimenez | Agustin | Daniel
                        <!-- {%FOOTER_LINK} -->
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>